[submodule "network_testing-client"]
	path = network_testing-client
	url = https://github.com/quentinl-c/network_testing-client.git
[submodule "network_testing-server"]
	path = network_testing-server
	url = https://github.com/quentinl-c/network_testing-server.git

[submodule "network_testing-docker"]
	path = network_testing-docker
	url = https://github.com/quentinl-c/network_testing-docker.git
